/* Mobile
Keeping these in a separate stylesheet to include after premailer processes
the html (since it strips it out at this time)
Media queries need to be used as follows http://bit.ly/huxL7K to achieve
compatibility with Yahoo.
------------------------------------------------------------------------------*/

/* 480px
-------------------------------------------------------------------------------*/

@media only screen and (max-width: 480px) {
	/* Part one of controlling phone number linking for mobile. */
	a[href^="tel"], a[href^="sms"] {
		text-decoration: none;
		color: blue; /* or whatever your want */
		pointer-events: none;
		cursor: default;
	}

	/* The yahoo fix */
	body[yahoo] {} 
}